# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. List popular languages in Data Science
2. List commonly used libraries in Data Science
3. List Data Science tools
4. Introducing Arithmetic expression examples

Some of the popular languages Data Scientists use are:

1. Python
2. R Programming Language
3. Scala
4. Java
5. Julia
6. MATLAB
7. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. Keras
4. Pandas
5. Matplotlib
6. Seaborn
7. Plotly

|Data Science Tools|
|------------------|
|RStudio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [15]:
#This will convert minutes to hours by dividing by 60:
minutes=200
Hour=minutes/60
print(Hour)

3.3333333333333335

## Author
Sahid Abraham